key.json
config.ini
crawler/config.py
/test
/venv_twint/
twint/twint_fork.egg-info/
twint/databases/
/twint/

/bigname/data/celebrity_data/
/bigname/data/backup/
/bigname/data/profiles/
/bigname/data/crawled_profile/
/bigname/data/new_split/
/bigname/data/big_name_followers/
/bigname/data/split/
/bigname/data/activity/
/bigname/data/popularity/
/bigname/data/activity_list.json
/bigname/data/famous_profile.db
/bigname/data/popularity_list.json
/bigname/data/username_list.json


/api/config.py

palm/config.py

/.vscode/
__pycache__/

