key.json
config.ini
crawler/config.py
/test
/venv_twint/
twint/twint_fork.egg-info/
twint/databases/
/twint/

/idiotbots_dot_com/data/celebrity_data/
/idiotbots_dot_com/data/backup/
/idiotbots_dot_com/data/profiles/
/idiotbots_dot_com/data/profiles2/

/.vscode/
__pycache__/
